.git/
.z/
vim/
wezterm/
.gitignore
.gitmodules
.luarc.json
alacritty.yml
autohotkey.ahk
Brewfile
darwin-configuration.nix
Dockerfile
flake8
install.sh
kitty.conf
latexmkrc
profile.ps1
README.md
starship.toml
Xvfb.service
yoshi.ansi
