[Unit]
Description=Virtual Framebuffer X server for X Version 11

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/Xvfb
ExecStart=/usr/bin/Xvfb :1 -screen 0 320x240x8
ExecReload=/bin/kill -HUP ${MAINPID}

[Install]
WantedBy=multi-user.target
